asgiref==3.12.1
black==26.5.1
certifi==2026.5.20
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
cloudinary==1.46.3
cryptography==50.0.1
distlib==0.4.3
Django==6.1.1
django-allauth==65.19.4
django-vite==3.2.0
filelock==3.29.3
idna==3.20
mypy_extensions==1.1.0
oauthlib==3.3.1
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pycparser==3.0
PyJWT==2.15.0
python-discovery==1.4.2
pytokens==0.4.1
requests==2.34.2
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.8.0
virtualenv==21.4.3
